<!DOCTYPE html>
<html>
<head>
    <title>Phone Verification</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
<div class="container ml-auto mr-auto mt-5">
<form method="POST" action="/supplier/validate_phone">
{%csrf_token%}
<h4>OTP <input id="phone" name="otp" maxlength="6" required></h4>
<input type="submit" value="Verify" >

</form>
</div>
<script type="text/javascript">
    console.log('{{key}}')
</script>
</body>
</html>
